$mediummobile: '(max-width: 575.98px)';
$maxmobile: '(min-width: 576px) and (max-width: 767.98px)';
$mediumScreen : '(min-width: 768px) and (max-width: 991.98px)';
$largeScreen: '(min-width: 992px) and (max-width: 1199.98px)';
$extraLargeScreen: '(min-width: 1200px)';